:root {
  /* colors */
  --primary-red: #8c030e;
  --hard-red: #260104;
  --scarlet-red: #8c031c;
  --medium-red: #40010d;
  --white: #fbf9ff;
  --black: #0d0d0d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Arimo", sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

header {
  display: block;
  width: 100%;
  height: 7rem;
  position: fixed;
  background-color: var(--medium-red);
  color: var(--white);
}

header nav {
  display: flex;
  justify-content: space-between;
}

header .main-navbar {
  padding: 0;
}

header .main-navbar .main-navbar-logo a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .main-navbar .main-navbar-logo img {
  width: 4.5rem;
  height: auto;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}
header .main-navbar .main-navbar-logo h2 {
  font-size: 2rem;
  padding-left: 0.5rem;
}

.main-navbar .nav-menu {
  flex-direction: column;
  width: 100%;
  position: fixed;
  left: 0;
  background-color: var(--scarlet-red);
  top: 7rem;
  height: calc(100% - 7rem);
  overflow-y: auto;
  left: 100%;
  transition: left 0.3s;
  z-index: 9997;
}

header .main-navbar .navbar-center-section {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  font-weight: bold;
  margin: 0;
}
header .main-navbar .navbar-center-section li {
  padding: 3rem 0;
}

header .main-navbar .navbar-right-section {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  padding-top: 4rem;
  font-size: 3.4rem;
}
header .main-navbar .navbar-right-section a {
  margin-left: 0.5rem;
}
header .main-navbar a {
  padding: 1rem;
}
.nav-item a:hover,
.nav-item_active {
  background-color: var(--medium-red);
  border-radius: 1rem;
  color: var(--white);
  transition: all 0.5s;
}
.nav-toggle {
  color: var(--white);
  background: none;
  border: none;
  font-size: 3rem;
  padding: 0 20px;
  line-height: 60px;
  display: block;
}
.main-navbar .nav-menu_active {
  left: 0;
}
main {
  padding-top: 7rem;
}

.home-section {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}

main .home-section .home-section-container {
  color: #0d0d0d;
  text-align: center;
  display: flex;
  flex-direction: column;
}
main .home-section-container {
  margin-top: 7rem;
  padding-top: 7rem;
  justify-content: center;
  align-items: center;
}

main .home-section-container .home-profile-img img {
  width: 20rem;
  height: 25rem;
  margin-bottom: 3rem;
  border-radius: 50%;
}

main .home-section-container h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
main .home-section-container h2 {
  padding-bottom: 3rem;
}

main .home-section-container a {
  color: var(--black);
  font-size: 3rem;
}
main .home-section .home-footer {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}
main .home-section .home-footer img {
  max-width: 100%;
  height: 100%;
}

main .about-section {
  background-color: var(--primary-red);
  color: var(--white);
  margin-top: -9.2rem;
  padding-bottom: 24rem;
  text-align: center;
}

main .about-section .about-section-container {
  padding: 3rem;
  font-size: 1.8rem;
}
.about-section .about-section-container h2 {
  margin-bottom: 2.4rem;
  font-size: 3.5rem;
}

.about-section .about-section-container h3 {
  margin-bottom: 2rem;
}

main .skills-section {
  margin-top: -18rem;
  padding: 2rem;
}

main .skills-section span {
  font-size: 5rem;
}
main .skills-section h2 {
  margin: 3rem 0 1.2rem;
}

main .skills-section .title {
  margin: 3rem 0 1.2rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-red);
}

.skills-section .container .skills-content li {
  font-size: 1.8rem;
  list-style: none;
  font-weight: bold;
  padding: 1rem;
}

.skills-section .container .skills-content i {
  font-size: 3.4rem;
}

.skills-section .container .skills-content img {
  width: 4rem;
  height: auto;
}

main .skills-section .container {
  background-color: var(--white);
  border-radius: 2rem;
  text-align: center;
}

main .projects-section {
  padding-top: 6rem;
  background-color: var(--scarlet-red);
  color: var(--white);
}

.container {
  margin: 3rem;
  padding-top: 3rem;
}

main .projects-section h2 {
  padding-top: 3rem;
  font-size:3rem;
  text-align: center;
}

main .projects-section h3 {
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
}

.projects-section .card .projects-card img {
  width: 37rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}
.projects-section .card .projects-links {
  padding: 1rem;
  display:flex;
  justify-content: space-evenly;
}
